streamlit>=1.32.2
python-dotenv>=1.0.1
langchain>=0.1.13
langchain-core>=0.1.31
langchain-openai>=0.0.8
langchain-community>=0.0.27
langgraph>=0.0.27
cohere>=4.53
faiss-cpu>=1.8.0
langchain-deepseek>=0.1.3
